/* VARIABLES ROOT */
:root {
    --primary: #2b4cdd;
    --dark: #494949;
    --light: #fefefe;
    --gray: #cecece;
    --red: #c92f2f;
}

/* ESTILOS DEL CONTENIDO */
.content{
    margin-top: 4rem;
    width: 100%;
    display: grid;
    justify-content: center;
}

/* ESTILOS DE LA TABLA DE USUARIOS */
.content > .users-table td, .content > .users-table th {
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 40px;
}

.content > .users-table td {
    padding: 10px 40px;
}

.content > .users-table thead {
    background-color: var(--primary);
    color: var(--light);
    padding: 10px 40px;
}

.content > .users-table tr {
    transition: .3s ease;
}

.content > .users-table tr:hover {
    background-color: #2b4cdd19;
}

/* ESTILOS DEL PAGINADOR */
.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.paginator > p {
    color: var(--primary);
    font-size: 1.1rem;
    border-radius: 5px;
    width: 45px;
    height: 34px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s ease;
    border: 2px solid var(--primary);
}

.paginator > p:hover {
    border: 2px solid transparent;
    background-color: var(--primary);
    color: var(--light);
}

/* RESPUESTA */
.response {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
}

.response p {
    font-size: 1.1rem;
    color: var(--red);
    text-align: center;
}