{# userslist/templates/users_list_template.html.twig #}

<!-- ESTAS LÍNEAS HACE QUE PODAMOS USAR CADA CAMPO POR SEPARADO -->
{{ form.form_build_id }}

{{ form.form_token }}

{{ form.form_id }}

<!-- FORMULARIO DE FILTRO -->
<nav class="filter">
    
    {{ form.name }}
    {{ form.surname1 }}
    {{ form.surname2 }}
    {{ form.email }}
    {{ form.username }}
    {{ form.actions.submit }}

</nav>


<main class="content">
    
    <!-- TABLA DE USUARIOS -->
    <table class="users-table">
        <!-- CABECERA -->
        <thead>
            <th>Nombre</th>
            <th>Nombre de usuario</th>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
            <th>Correo electrónico</th>
            
        </thead>
        
        <tbody id="tbody_content">

            <!-- RELLENANDO FILAS DE LA TABLA CON LOS DATOS DEL USUARIO -->
            {% for user in form['#users'] %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.surname1 }}</td>
                <td>{{ user.surname2 }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
        <tfoot>
            <!-- PAGINADOR -->
            <div class="paginator" id="paginator">
                {% for num in form['#paged'] %}
                    <p>{{ num }}</p>
                {% endfor %}
            </div>
        </tfoot>
    </table>
    
    <div class="response">
        <!-- RESPUESTA CUANDO NO SE ENCUENTRA NINGÚN USUARIO EN EL FILTRO -->
    </div>
    <!-- FIN TABLA DE USUARIOS -->
</main>